<div *ngIf="authenticationService.getCurrentUser().hasRole('Administrator')">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/vlabs/ph-mpd-fcm" target="_blank">Friction coefficient measurement [ph-mpd-fcm]</a>
        </li>
        <li class="list-group-item">
            <a href="/vlabs/valter-lab" target="_blank">Valter Lab</a>
        </li>
        <li class="list-group-item">
            <a href="/vlabs/valter-ik-lab" target="_blank">Valter IK Lab</a>
        </li>
        <li class="list-group-item">
            <a href="/vlabs/valter-locus-originis" target="_blank">Valter Locus Originis Lab</a>
        </li>
        <li class="list-group-item">
            <a href="/vlabs/valter-navigation-ann" target="_blank">Valter ANN Navigation Lab</a>
        </li>
        <li class="list-group-item">
            <a href="/vlabs/toy-store" target="_blank">Valter in Toy Store</a>
        </li>
    </ul>
</div>
