<div *ngIf="authenticationService.getCurrentUser().hasRole('Administrator')">
    <div class="row content">

        <div class="col-sm-3 sidenav">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Administrator Menu</li>
                    <li>
                        <a href="javascript:void(0);" (click)="setViewContainerComponent('admin-usersview')"><i class="glyphicon glyphicon-user"></i>
                            Users
                            <span *ngIf="this.notActivatedYetUsersNumber > 0" class="badge badge-info">
                                {{this.notActivatedYetUsersNumber}}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" (click)="setViewContainerComponent('admin-groupsview')"><i class="glyphicon glyphicon-user"><i class="glyphicon glyphicon-user"></i></i>
                            Groups
                        </a>
                    </li>
                    <li><a href="javascript:void(0);" (click)="setViewContainerComponent('admin-messages')"><i class="glyphicon glyphicon-envelope"></i> Messages </a></li>
                    <li><a href="javascript:void(0);" (click)="setViewContainerComponent('admin-vlabs')"><i class="glyphicon glyphicon-scale"></i> VLabs</a></li>
                </ul>
            </div>
        </div>

        <div id="viewContainer" class="col-md-9 well">
            <admin-usersview *ngIf="this.selectedView == 'admin-usersview'"></admin-usersview>
            <admin-useredit *ngIf="this.selectedView == 'admin-useredit'" [selectedUserId]="selectedUserId"></admin-useredit>
            <admin-groupsview *ngIf="this.selectedView == 'admin-groupsview'"></admin-groupsview>
            <admin-groupedit *ngIf="this.selectedView == 'admin-groupedit'"  [selectedGroupId]="selectedGroupId"></admin-groupedit>
            <admin-messages *ngIf="this.selectedView == 'admin-messages'"></admin-messages>
            <admin-vlabs *ngIf="this.selectedView == 'admin-vlabs'"></admin-vlabs>
        </div>

    </div>
</div>
