<div *ngIf="currentUser.hasRole('Administrator')">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th class="hidden-xs">Password</th>
                <th class="hidden-xs">First Name</th>
                <th class="hidden-xs">Last Name</th>
                <th class="hidden-xs">Roles</th>
                <th class="hidden-xs">Activation</th>
                <th class="hidden-xs">Blocking</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td><a href="javascript:void(0)" (click)="editUser(user.id)">{{user.id}}</a></td>
                <td>{{user.email}}</td>
                <td class="hidden-xs">{{user.password}}</td>
                <td class="hidden-xs">{{user.firstname}}</td>
                <td class="hidden-xs">{{user.lastname}}</td>
                <td class="hidden-xs">
                    <div *ngFor="let role of user.Roles" style="font-size:10px;">{{role.title}}</div>
                </td>
                <th class="hidden-xs">
                    <i *ngIf="user.activated" class="glyphicon glyphicon-ok green"></i>
                    <a *ngIf="!user.activated" href="javascript:void(0)" (click)="activateUser(user.id)">
                        <i class="glyphicon glyphicon-ok grey"></i>
                    </a>
                </th>
                <th class="hidden-xs">
                    <a href="javascript:void(0)" (click)="blockUser(user.id)">
                        <i *ngIf="user.blocked" class="glyphicon glyphicon-lock red"></i>
                        <i *ngIf="!user.blocked" class="glyphicon glyphicon-lock green"></i>
                    </a>
                </th>
            </tr>
        </tbody>
    </table>
</div>
