<div *ngIf="this.currentUser.hasRole('Administrator')">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Administrator Menu</li>
                    <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Messages <span class="badge badge-info">4</span></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-bell"></i> Pedning requests <span class="badge badge-info">10</span></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i> Members</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-scale"></i> VLabs</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            View's Content
        </div>

    </div>
</div>
