<div *ngIf="this.currentUser.hasRole('Administrator')">
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.email}} ({{user.firstname}} {{user.lastname}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
</div>

<div *ngIf="this.currentUser.hasRole('Student')">
    <h3>Hi {{currentUser.firstname}}!</h3>
    <p>You're logged into VLabs</p>
    <ul>
        <li><a href="/vlabs/ph-mpd-fcm" target="_blank">Friction coefficient measurement</a></li>
        <li><a href="/vlabs/valter-lab" target="_blank">Valter Lab</a></li>
    </ul>
</div>
