html, body
{
    !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.webGLContainer
{
    !important;
    background-color: gray;
    float: left;
    width: 100%;
    height: 100%;
}
