<!-- main app container -->

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">VLabs</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/about']">About</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/contact']">Contact</a></li>
        <template [ngIf]="authenticationService.isAuthenticated()">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        </template>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']">
            <a [routerLink]="['/login']">
                {{authenticationService.isAuthenticated() ? "Log Out" : "Log In"}}
            </a>
        </li>
        <li *ngIf="!authenticationService.isAuthenticated()" [routerLinkActive]="['active']"><a [routerLink]="['/register']">Register</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <a [routerLink]="['/login']">
        {{authenticationService.isAuthenticated() ? "Log Out" : "Log In"}}
    </a>
</div>
